src/service/UserManagerPortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service/" schemaLocation="UserManagerPortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addUser">
    <part name="parameters" element="tns:addUser"/>
  </message>
  <message name="addUserResponse">
    <part name="parameters" element="tns:addUserResponse"/>
  </message>
<!--  <message name="SQLException">-->
<!--    <part name="fault" element="tns:SQLException"/>-->
<!--  </message>-->
  <message name="authenticate">
    <part name="parameters" element="tns:authenticate"/>
  </message>
  <message name="authenticateResponse">
    <part name="parameters" element="tns:authenticateResponse"/>
  </message>
  <message name="updateUser">
    <part name="parameters" element="tns:updateUser"/>
  </message>
  <message name="updateUserResponse">
    <part name="parameters" element="tns:updateUserResponse"/>
  </message>
  <message name="deleteUser">
    <part name="parameters" element="tns:deleteUser"/>
  </message>
  <message name="deleteUserResponse">
    <part name="parameters" element="tns:deleteUserResponse"/>
  </message>
  <message name="listUsers">
    <part name="parameters" element="tns:listUsers"/>
  </message>
  <message name="listUsersResponse">
    <part name="parameters" element="tns:listUsersResponse"/>
  </message>
  <portType name="userManager">
    <operation name="addUser">
      <input ns1:Action="http://service/userManager/addUserRequest" message="tns:addUser" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://service/userManager/addUserResponse" message="tns:addUserResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:SQLException" name="SQLException" ns3:Action="http://service/userManager/addUser/Fault/SQLException" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="authenticate">
      <input ns4:Action="http://service/userManager/authenticateRequest" message="tns:authenticate" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns5:Action="http://service/userManager/authenticateResponse" message="tns:authenticateResponse" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:SQLException" name="SQLException" ns6:Action="http://service/userManager/authenticate/Fault/SQLException" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="updateUser">
      <input ns7:Action="http://service/userManager/updateUserRequest" message="tns:updateUser" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://service/userManager/updateUserResponse" message="tns:updateUserResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:SQLException" name="SQLException" ns9:Action="http://service/userManager/updateUser/Fault/SQLException" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="deleteUser">
      <input ns10:Action="http://service/userManager/deleteUserRequest" message="tns:deleteUser" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns11:Action="http://service/userManager/deleteUserResponse" message="tns:deleteUserResponse" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:SQLException" name="SQLException" ns12:Action="http://service/userManager/deleteUser/Fault/SQLException" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="listUsers">
      <input ns13:Action="http://service/userManager/listUsersRequest" message="tns:listUsers" xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns14:Action="http://service/userManager/listUsersResponse" message="tns:listUsersResponse" xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:SQLException" name="SQLException" ns15:Action="http://service/userManager/listUsers/Fault/SQLException" xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

